html.dark .preloader,
html.dark .preloader__overlay {
    background-color: #181A32;
}
html.light .preloader,
html.light .preloader__overlay {
    background-color: #f9f9f9;
}

.preloader,
.preloader__overlay {
    background-color: #181A32;
}
.preloader.remove {
    pointer-events: none;
    opacity: 0;
}

.preloader {
    bottom: 0;
    left: 0;
    height: 100%;
    display: flex;
    padding: 35px 50px;
    position: fixed;
    transition: opacity 0.2s ease 0s;
    top: 0;
    width: 100%;
    z-index: 100;
}
.preloader__wrap-logo {
    align-items: center;
    display: flex;
    justify-content: center;

    height: 100px;
    max-height: 100%;
    margin: auto;
    position: relative;
    width: 320px;
    max-width: 100%;
}
.preloader__wrap-logo svg {
    height: auto;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}
html.dark .preloader__wrap-logo .letter {
    fill: #EAEAEA;
}
html.dark .preloader__wrap-logo .element {
    //fill: #FF7900;
}
html.light .preloader__wrap-logo .letter {
    fill: #262756;
}
html.light .preloader__wrap-logo .element {
    //fill: #FF7900;
}
.preloader__overlay {
    bottom: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}